@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%; */

    /* --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%; */

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;

    /* overflow-x: clip; */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    /* overflow-x: clip; */
  }
}

::-webkit-scrollbar {
  @apply h-2.5 w-2.5;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full border-[1px] border-solid border-transparent bg-border bg-clip-padding;
}

@layer utilities {
  .background-wave,
  .foreground-wave {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    line-height: 0;
    transform: rotate(180deg);
    overflow: visible;
  }

  .background-wave svg,
  .foreground-wave svg {
    position: relative;
    display: block;
    width: calc(131% + 1.3px);
    height: 40px;
    overflow: visible;
    filter: drop-shadow(0px 6px 5px rgba(0, 0, 0, 0.12));
  }

  .background-wave .shape-fill {
    fill: #ffffff;
  }

  .foreground-wave .shape-fill {
    fill: #fdeff3;
  }
}
